extends layouts/default

block content
    div.site
        include includes/header
        include includes/left_panel
        include includes/right_panel
        main.main
            include includes/intro
            include includes/about
            include includes/experience
            include includes/projects
            include includes/other_projects
            include includes/contact
        include includes/footer
