@use 'globals';
@use 'mixins';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: globals.$background-color;
  color: globals.$primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  overflow-x: hidden;

  &.blur {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;

  &:hover {
    color: globals.$secondary;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 10px;

  &::before {
    content: '▹';
    margin-right: 10px;
    color: globals.$secondary;
  }
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 700;
  color: globals.$primary;
}

h3 {
  font-size: 24px;

  @include mixins.md {
    font-size: 28px;
  }

  @include mixins.xl {
    font-size: 32px;
  }
}

h4 {
  font-size: 16px;

  @include mixins.md {
    font-size: 20px;
  }

  @include mixins.xl {
    font-size: 24px;
  }
}

h5 {
  margin-bottom: 10px;
  font-size: 14px;

  @include mixins.md {
    font-size: 16px;
  }

  @include mixins.xl {
    font-size: 18px;
  }
}

p {
  margin: 0 0 10px;
  font-size: 16px;

  @include mixins.md {
    margin: 0 0 20px;
    font-size: 18px;
  }

  @include mixins.xl {
    font-size: 20px;
  }
}

.site {
  position: relative;
  min-height: 100vh;
}

.main {
  max-width: 1600px;
  min-width: 100vw;
  min-height: calc(100vh - 102px);
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  counter-reset: section 0;

  @include mixins.md {
    padding: 0 100px;
  }

  @include mixins.xl {
    padding: 0 150px;
  }
}

.section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;

  @include mixins.md {
    padding: 100px 0;
  }

  @include mixins.xl {
    padding: 150px 0;
  }
}

.text--small {
  font-size: 14px;
}

.text--monospace {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    'Lucida Console', Monaco, monospace;
}

.text--normal {
  font-weight: normal;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.text--white {
  color: globals.$white;
}

.text--black {
  color: globals.$black;
}

.text--secondary {
  color: globals.$secondary;
}

.text--dark-primary {
  color: globals.$dark-primary;
}

.mt-20 {
  margin-top: 20px;
}

.link-button {
  @extend .text--secondary;
  border: 1px solid globals.$secondary;
  border-radius: 5px;

  &:hover {
    background-color: rgba(globals.$secondary, 0.2);
  }
}

.section__h3 {
  display: flex;
  align-items: center;
  margin: 10px 0 40px;
  counter-increment: section 1;

  &::before {
    content: '0' counter(section) '.';
    margin-right: 10px;
    font-weight: normal;
    font-size: 24px;
    color: globals.$secondary;
  }

  @include mixins.md {
    &::after {
      content: '';
      display: block;
      width: 300px;
      height: 1px;
      margin-left: 20px;
      background-color: globals.$dark-grey;
    }
  }
}

.image__link {
  display: block;
  position: relative;
  z-index: 1;
  box-shadow: globals.$box-shadow-color 0px 10px 30px -15px;

  & > img {
    border-radius: 3px;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(globals.$secondary, 0.3);
    transition: background-color 0.3s ease;
  }

  &:hover {
    &::before {
      background-color: transparent;
    }
  }
}

.social__link {
  width: 22px;
  transition: filter 0.3s ease;

  &:hover {
    filter: hue-rotate(-100deg);
  }
}

.side__panel {
  display: none;
  flex-direction: column;
  align-items: center;

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background-color: globals.$primary;
  }

  @include mixins.md {
    display: flex;
  }
}
