@use "mixins";

.footer {
  padding: 50px 20px 20px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > li {
    padding: 15px;

    &::before {
      display: none;
    }
  }

  @include mixins.md {
    display: none;
  }
}
