.about__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info__text {
  @include md {
    width: 60%;
  }
}

.info__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

.info__image {
  width: 40%;
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto 40px auto;
  order: -1;

  @include md {
    order: 1;
  }
}

.image--border {
  @include md {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      transform: translate(25px, 25px);
      border: 2px solid $secondary;
      border-radius: 3px;
      transition: transform 0.3s ease;
    }

    &:hover {
      &::after {
        transform: translate(15px, 15px);
      }
    }
  }
}
