extends /layouts/default

block content
    div.site
        include /components/header
        include /components/left_panel
        include /components/right_panel
        main.main
            include /components/intro
            include /components/about
            include /components/experience
            include /components/projects
            include /components/other_projects
            include /components/contact
        include /components/footer
