footer.footer.text--center
    ul.footer__links
        each link in social
            li
                a(href=link.url, target='_blank', title=link.title)
                    img(src='/social/' + link.title + '.svg', alt=link.title).social__link
    p.text--small.text--dark-primary Developed & Built by Anton Cherniavskyi
