section.section.intro.name
    h1.intro__h1.text--secondary Hi, my name is
    div.intro__animation
        each _ in Array(311)
            span
    p.intro__text.text--dark-primary
        |I'm a software engineer based in Kyiv, Ukraine specializing in building exceptional websites, applications, and everything related to it
    a(href=social[0].url, rel='nofollow noopener noreferrer').intro__link.link-button Get In Touch
