section.section.intro
    h1.intro__h1.text--secondary Hi, my name is
    h2.intro__h2.text--big Anton Cherniavskyi
    h2.intro__h2.text--big.text--dark-primary Front-End Developer
    p.intro__text.text--dark-primary
        |I'm a software engineer based in Kyiv, Ukraine specializing in building exceptional websites, applications, and everything related to it
    a(href=social[0].url, target='_blank', rel='nofollow noopener noreferrer').intro__link.link-button Get In Touch
