doctype html
html(lang='en')
    include ../components/head.pug
    body
        block content
        script(src='https://unpkg.com/aos@next/dist/aos.js')
        script(src='/src/scripts/main.js', type='module')
